$primary-color-dark: hsl(158, 36%, 37%);
$primary-color-light: hsl(30, 38%, 92%);

$neutral-color-very-dark:hsl(212, 21%, 14%);
$neutral-color-dark: hsl(228, 12%, 48%);
$neutral-color-white: hsl(0, 0%, 100%);

